.name {
	font-size: 50px;

	text-align: center;
	margin-top: 35vh;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 200;
	/* width: fit-content; */
	/* margin-left: 24vw; */
	/* margin-right: 50vw; */
	color: white;
	/* position: absolute; */
	padding-top: -10px;
}
/* .name:after {
  content: "";
  margin-left: 8px;
  margin-top: 8px;
  height: 15%;
  border-right: 4px solid white;
  margin-right: 32vw;
  animation: blink 0.5s infinite ease;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
.messagingapp {
	background-color: #4ea7df;
	height: 97vh;
	width: 100vw;
	/* display: flex; */
	text-align: center;
}
#airplane {
	height: 6vw;
	margin-top: 4vh;
	margin-left: 5vw;
}
.downarrow {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 100px;
	width: 60px;
}
#bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
