.newsletterdiv {
  width: 100vw;
}
.secondwebpage {
  margin-top: 20vh;
  margin-left: 20vw;
  width: fit-content;

  border: 7px solid #87cefa;
  border-radius: 30px;
}
.secondwebpagehidden {
  display: none;
}
form {
  width: 70vw;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #f1f1f1;
  width: 55vw;
}
h2 {
  font-size: 35px;
  margin-left: 1vw;
  margin-top: 40px;
  font-weight: 700;
}
/* Style the input elements and the submit button */
input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  display: inline-block;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type="checkbox"] {
  margin-top: 16px;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #87cefa;
  width: 15vw;
  margin-left: 19vw;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
input[type="submit"]:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
input[type="submit"]:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}
h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  color: red;
  margin-top: -10px;
}
.successbox {
  height: 320px;
  width: 100vw;
  padding: 20px;
  background-color: #f1f1f1;
  width: 55vw;
  overflow-y: hidden;
}
.successmessage {
  text-align: center;
  font-size: 60px;
  margin-top: 10vh;
}
p {
  text-align: center;
}
img {
  height: 100px;
  background: transparent;
  margin-left: 22vw;
  margin-top: -50px;
}
