.divv {
  height: 181vh;
  width: 100vw;
}
.topdiv {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 22%, 0 83%);
  clip-path: polygon(0 0, 100% 0%, 100% 22%, 0 83%);
  background-color: #87cefa;
  height: 98vh;
  width: 100vw;
}

.bottomdiv {
  position: fixed;
  left: 0;
  -webkit-clip-path: polygon(0 83%, 100% 22%, 100% 100%, 0 100%);
  clip-path: polygon(0 82%, 100% 22%, 100% 100%, 0 100%);
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 2;
}

/* .topdiv2 {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 23%, 0 83%);
  clip-path: polygon(0 0, 100% 0%, 100% 23%, 0 83%);
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
}

.bottomdiv2 {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 75%, 100% 22%, 100% 100%, 0 100%);
  clip-path: polygon(0 75%, 100% 22%, 100% 100%, 0 100%);
  height: 100vh;
  width: 100vw;
  background-color: black;
} */
