* {
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  /* background-image: url(trees.jpg); */
  background-size: cover;
  /* opacity: 0.6; */
  background-repeat: no-repeat;
  height: 100vh;
}
body::before {
  content: "";
  background-image: url(trees.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}
