.topdiv {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 22%, 0 83%);
  clip-path: polygon(0 0, 100% 0%, 100% 22%, 0 83%);
  background-color: #87cefa;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bottomdiv {
  position: absolute;
  left: 0;
  -webkit-clip-path: polygon(0 87%, 100% 25%, 100% 100%, 0 100%);
  clip-path: polygon(0 87%, 100% 25%, 100% 100%, 0 100%);
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 2;
  margin-top: 1px;
  overflow: hidden;
}

.countdown {
  position: absolute;
  left: 0;
  -webkit-clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
  height: 100vh;
  width: 100vw;
  background-image: url("redwoods.jpg");
  z-index: 2;
  margin-top: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;
}

* {
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}
body::before {
  content: "";
  background-image: url(trees.jpg);
  background-size: cover;
  position: none;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}
